<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="David Silva Smith's homepage.  Covers technology and my interests.">
  <meta name="author" content="david silva smith">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" media="screen" />
  <link rel="canonical" href="{{ page.url }}" />
  <title>David Silva Smith's homepage</title>
  <!-- html5 shim and respond.js ie8 support of html5 elements and media queries -->
    <!--[if lt ie 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <div class="container">
        <div class="row navbar navbar-default" role="navigation">
          <div class="col-md-4">
            <div>
           <a href="/"><img src="http://www.gravatar.com/avatar/38c982e6a1d3ae992a40887a59748cdb?s=150" class="photo img-responsive img-thumbnail"></a> 
          </div> 
         </div>
         <div class="col-md-8">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/tools-i-use">Resources</a></li>
              <li><a href="/home/about-me">About Me</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/bitcoin">Bitcoin</a></li>
              <li><a href="http://blog.davidsilvasmith.com">Blog</a></li>
            </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4  hidden-sm hidden-xs">
          <h2 >
            Me on the web...
          </h2>
          <ul class="nav navbar-nav">
            {% for site in site.data.links %}
            <li>
              <a href="{{ site.url }}">
                {{ site.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <a class="twitter-timeline" href="https://twitter.com/DavidSilvaSmith" data-widget-id="457085262871273473">Tweets by @DavidSilvaSmith</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  
        </div> 

        <div class="col-md-8" >
          {{content}}
        </div>
      </div> 
      <br />
      <hr />
      <footer class="text-center">
        © {{ site.time| date: "%Y" }}

      </footer>
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="/javascripts/bootstrap.min.js"></script>
      <script>
        // $(document).ready(function () {
        //     $('#@ViewBag.Nav').addClass('active');
        // });
        //open external links in a new window
        $(document).ready(function () {
          $("a[href^=http]").each(function () {
            if (this.href.indexOf(location.hostname) == -1) {
              $(this).attr({
                target: "_blank",
                title: "Opens in a new window"
              });
            }
          })
        });
        </script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-1211714-4']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
      </body>
      </html>