<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="col-md-4">
         <a href="/"><img src="http://www.gravatar.com/avatar/38c982e6a1d3ae992a40887a59748cdb?s=150" class="photo img-responsive img-thumbnail"></a> 
      </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse col-md-8" id="defaultNavbar">
    
    <ul class="nav navbar-nav">
        
        <li class="dropdown"><a href="index.html" role="button" aria-expanded="false">Home</a>
        </li>
        
      </ul> 
      
      <ul class="nav navbar-nav">
        
        <li class="dropdown"><a href="resources.html" role="button" aria-expanded="false">Resources</a>
        </li>
        
      </ul> 
            
      <ul class="nav navbar-nav">
        
        <li class="dropdown"><a href="about.html" role="button" aria-expanded="false">About Me</a>
        </li>
        
      </ul>    
      
      <ul class="nav navbar-nav">
        
        <li class="dropdown"><a href="projects.html" role="button" aria-expanded="false">Projects</a>
        </li>
        
      </ul>

      <ul class="nav navbar-nav">
        
        <li class="dropdown"><a href="bitcoin.html" role="button" aria-expanded="false">Bitcoin</a>
        </li>
        
      </ul>

      <ul class="nav navbar-nav">
        
        <li class="dropdown"><a href="blog.html" role="button" aria-expanded="false">Blog (WIP)</a>
        </li>
        
      </ul>
            
    </div>
  </div>
</nav>