---
permalink: /projects.html
layout: layout
---
<div dir="ltr">
   <div>These subpages are personal notes which may be of public interest.</div>
   <div>&nbsp;</div>
   <div>Completed:</div>
   <ol>
      <li>8/2014 - <a href="http://www.bitcoinbulls.net">Bitcoin Bulls</a> - community for bitcoin investors</li>
      <li>7/2014 - So What's Bitcoin - explains <a href="http://www.sowhatsbitcoin.com">bitcoin in plain English</a></li>
      <li>5/2014 - Proof of concept peer-to-peer bitcoin trading platform through Facebook: <a href="https://coinvendor.herokuapp.com/faq">Coinvendor</a></li>
      <li>11/2013 - Created <a href="http://www.gogivecoin.com">Go Give Coin</a> allowing bitcoin enthusiasts to give bitcoins as presents.</li>
      <li>8/2013 - Created a bitcoin / USD <a href="http://en.wikipedia.org/wiki/Arbitrage">arbitrage</a> bot</li>
      <li>6/2011 - 12/2011 - Developed prototype <a href="http://emailreducer.davidsilvasmith.com" target="_blank">software</a> to reduce the amount of time spend on email.</li>
      <li>4/2009 - 1/2011 - Developed a gui wrapper on top of <a href="http://msdn.microsoft.com/en-us/windows/hardware/gg463009" target="_blank">WinDbg</a> - enabling devs to use a UI instead of the command line.</li>
      <li>3/4/2009 - 3/27/2009 Work through Shared Source Common Language Infrastructure Internals Book</li>
   </ol>
   <p>Ongoing:</p>
   <li>I like to dabble in art. Checkout my <a href="/art/">here.</a></li>
   <p>Canned:</p>
   <ol>
      <li>Learn Intermediate Language</li>
      <li>Mono Development</li>
      <li>Managed OS Development (<a href="http://www.sharpos.org/">SharpOS</a> or <a href="http://www.gocosmos.org/">Cosmos</a> )</li>
   </ol>
</div>

<div class="sites-subpages">
   Subpages <span id="subpages-total-number">(1):</span>
   <span>
   <a href="/projects/rotor" dir="ltr">Shared Source Common Language Infrastructure (Rotor) Internals Book</a>
   </span>
</div>